# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Shiny
rsconnect/
*.log

# Data
data/
*.rds
*.csv
*.gz

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# renv
renv/library/
renv/local/
renv/staging/
renv/.gitignore

